* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}

h1 {
  text-align: center;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-weight: 500;
}

h3 {
  text-align: center;
  font-weight: 200;
}

.homeContainer {
  width: 100vw;
  height: 85vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.homeText {
  background-color: rgba(72, 72, 72, 0.15);  
  backdrop-filter: blur(5px);
  font-size: 5vh;
  position: relative;
  height: 60%;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 25px;
  padding: 24px;
  color: white;
}

.highlight {
  color: rgb(0, 255, 208);
}

.homeButtons, .linkButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 32px;
  /* align-items: center; */
}

.buttonText {
  font-size: 12px;
}

.buttonContainer {
  margin: 8px;
  text-align: center;
  justify-content: center;
}

.projects {
  margin: 0;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  background-color: rgb(14, 14, 14);
  color: white;
  background-size: cover;
  margin: 0;
  padding: 24px;
}

.projectDetails {
  background-color: black;
  color: white;
  background-size: cover;
  margin: 0;
  padding: 160px;
}

.techs {
  text-align: center;
}

.about {
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  color: white;
}

.aboutDetails {
  padding: 160px;
}

#sidenav {
  width: 100px;
  position: fixed;
  top: 50px;
  left: 0px;
}

#tsparticles {
  position: absolute;
  width: 100vw;
  height: 85vh;
}

.scrollspy {
  padding: 0;
}

.parallax-container {
  height: 70vh;
}

.table-of-contents {
  background-color: rgba(72, 72, 72, 0.15);  
  backdrop-filter: blur(5px);
  border-radius: 0 16px 16px 0;
}
.table-of-contents a.active{
  border-left: 4px solid rgb(0, 255, 208);
}

.table-of-contents a:hover{
  border-left: 4px solid rgb(159, 75, 255);
}

@media only screen and (max-width: 600px) {
.homeText {
  height: 65%;
  font-size: 8vw;
}

.projectDetails {
  padding: 16px;
  font-size: 4vw;
}

.aboutDetails {
  padding: 16px;
  font-size: 4vw;
}

h1 {
  font-size: 8vw;
}

h2 {
  font-size: 6vw;
}

h3 {
  font-size: 5vw;
}

.parallax-container {
  height: 40vh;
}
}