* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  width: 100vw;
}

.homeContainer {
  position: relative;
  top: -15px;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("https://wallpaperaccess.com/full/83501.jpg");
  /* background-repeat: no-repeat; */
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeText {
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  font-size: 5vh;
  position: relative;
  height: 50%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 25px;
}

.projects {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: 50% 50%; */
  border: 5px solid red;
}

.about {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: 50% 50%; */
  border: 5px solid red;
}

#sidenav {
  width: 100px;
  position: fixed;
  top: 100px;
  left: 40px;
}

#tsparticles {
  position: absolute;
  width: 100vw;
  height: 100%;
}